<!-- Page Content -->
<div class="container">

  <!-- Portfolio Item Heading -->
  <div class="row">
      <div class="col-lg-12">
          <h1 class="page-header"><%= current_user.name %> 
              <small>the <%= @beer.adjective %></small>
          </h1>
      </div>
  </div>
  <!-- /.row -->

    <!-- Portfolio Item Row -->
    <div class="row">

      <div class="col-md-8">
          <img class="img-responsive" src="<%= @beer.adj_image %>" alt="">
      </div>

      <div class="col-md-4">
          <h3>Your beer of choice is a <%= @beer.name %></h3>
          <p><%= @beer.description %></p>
         <!--  <h3>Project Details</h3> -->
          <div>
            <img class="beer_img" src="<%= @beer.beer_img %>">
          </div>
      </div>

    </div>
    <!-- /.row -->
</div>

<meta property="og:url"           content="https://beer-personality-test.herokuapp.com/home" />
<meta property="og:type"          content="website" />
<meta property="og:title"         content="Beer Personality Test" />
<meta property="og:description"   content="Find Your Inner Beer Personality" />
<meta property="og:image"         content="http://image.shutterstock.com/z/stock-vector-sexy-cowgirl-with-beer-christmas-edition-162860924.jpg" />


<div class="center_align">
  <div class="fb-share-button" data-href="https://beer-personality-test.herokuapp.com/generate_results" data-layout="button" data-mobile-iframe="false">
  </div>
</div>

<div class="center_align">
  <br>
  <form method="post" action='/restart'>
      <input class="btn btn-primary btn-default" type="submit" value="Try Again?">
    </div>
  </form>
</div>